@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}
<div class="row">
    <div class="col-md-4">
        <h3>Using this template</h3>
        <p>
            This template includes support for:
        <ul>
            <li>APIs using API Endpoints (in the /Endpoints folder)</li>
            <li>APIs using Controllers (in the /Api and /ApiModels folders)</li>
            <li>Pages using Razor Pages (in the /Pages folder and /Views/Shared folder)</li>
            <li>Pages using Controllers and Views (in the /Controllers, /ViewModels, and /Views folders - keep
                /Views/Shared for Razor Pages though)
            </li>
        </ul>
        Choose which features you will use for your project and delete the ones you will not use.
        <p>
            Provide feedback and report issues in the <a href="https://github.com/ardalis/CleanArchitecture">project's
                GitHub repository</a>; ask questions using the <a
                href="https://stackoverflow.com/questions/tagged/ardalis-cleanarchitecture?tab=Newest">ardalis-cleanarchitecture
                tag on StackOverflow</a>.
        </p>
    </div>
</div>